﻿@model SpaceListItemVM

<thead>
    <tr>
        <td>
            <a asp-order-by="Number" class="sort-link">
                @Html.DisplayNameFor(m => m.Number)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td>
            <a asp-order-by="IsOccupied" class="sort-link">
                @Html.DisplayNameFor(m => m.IsOccupied)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td>
            <a asp-order-by="IsOutOfService" class="sort-link">
                @Html.DisplayNameFor(m => m.IsOutOfService)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td>
            <a asp-order-by="LevelPosition" class="sort-link">
                @Html.DisplayNameFor(m => m.LevelPosition)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td></td>
    </tr>
</thead>
