﻿@model SpaceListItemVM

<tr>
    <td>
        @Html.DisplayFor(m => m.Number)
    </td>
    <td>
        <span class="@(Model.IsOccupied ? "text-danger" : "text-success")">
            @Html.DisplayFor(m => m.IsOccupied, "BoolYesNo")
        </span>
    </td>
    <td>
        <span class="@(Model.IsOutOfService ? "bg-danger rounded px-2 py-1" : "text-success")">
            @Html.DisplayFor(m => m.IsOutOfService, "BoolYesNo")
        </span>
    </td>
    <td>
        <a class="btn btn-sm btn-primary" asp-controller="Levels" asp-action="@nameof(LevelsController.Show)" asp-route-id="@Model.LevelId">
            <i class="fas fa-layer-group padding-right-xs"></i>
            @Model.LevelPosition
        </a>
    </td>
    <td>
        <a asp-action="@nameof(SpacesController.Show)" asp-route-id="@Model.Id" class="btn btn-primary my-1 my-sm-0 mr-0 mr-sm-2">
            <i class="fas fa-angle-right padding-x-sm"></i>
        </a>
        <a asp-action="@nameof(LevelsController.Edit)" asp-route-id="@Model.Id" class="btn btn-success my-1 my-sm-0 mr-0 mr-sm-2">
            <i class="fas fa-pencil-alt padding-x-xs"></i>
        </a>
        <button class="btn btn-danger my-1 my-sm-0 mr-0 mr-sm-2" data-toggle="modal" data-target="#removeSpaceConfirmation" data-id="@Model.Id">
            <i class="fas fa-trash-alt padding-x-xs"></i>
        </button>
    </td>
</tr>
