﻿@inject IOptions<StrainerOptions> StrainerOptions
@model IPagedResult
@{
    const int selectorsPerSide = 2;
    int.TryParse(Context
            .Request
            .Query
            .FirstOrDefault(k => k.Key.Equals(nameof(StrainerModel.PageSize), StringComparison.OrdinalIgnoreCase))
            .Value
            .ToString(),
        out int pageSize);
    if (pageSize == 0)
    {
        pageSize = StrainerOptions.Value.DefaultPageSize;
    }
}
@functions {
public string BuildPageUrl(long page, int size)
{
    var controller = ViewContext.RouteData.GetController();
    var action = ViewContext.RouteData.GetAction();
    var routeDictionary = Context
        .Request
        .Query
        .Where(pair => !pair.Key.Equals(nameof(StrainerModel.Page), StringComparison.OrdinalIgnoreCase))
        .ToDictionary<KeyValuePair<string, StringValues>, string, object>(k => k.Key, v => v.Value.ToString());

    if (page != StrainerOptions.Value.DefaultPageNumber)
    {
        routeDictionary.Add(nameof(StrainerModel.Page), page);
    }
    if (size != StrainerOptions.Value.DefaultPageSize)
    {
        if (!routeDictionary.Any(pair => pair.Key.Equals(nameof(StrainerModel.PageSize), StringComparison.OrdinalIgnoreCase)))
        {
            routeDictionary.Add(nameof(StrainerModel.PageSize), size);
        }
    }

    return Url.Action(action, controller, routeDictionary);
}
}

<div class="row">
    <div class="col">
        <ul class="pagination pagination-md justify-content-center mt-3">

            @* First page number *@
            <li class="page-item @(Model.IsFirstPage() ? "disabled" : null)">
                <a class="page-link" href="@BuildPageUrl(1, pageSize)">
                    <i class="fas fa-angle-double-left"></i>
                </a>
            </li>

            @* Second page number *@
            <li class="page-item @(Model.IsFirstPage() ? "disabled" : null)">
                <a class="page-link" href="@BuildPageUrl(Model.PageNumber - 1, pageSize)">
                    <i class="fas fa-angle-left"></i>
                </a>
            </li>

            @* Previous page numbers - possible earlier positions *@
            @for (int pageNumber = Model.PageNumber - selectorsPerSide; pageNumber < Model.PageNumber; pageNumber++)
            {
                @if (pageNumber >= 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@BuildPageUrl(pageNumber, pageSize)">
                            <span>@pageNumber</span>
                        </a>
                    </li>
                }
            }

            @* ### Current page number - current position - always active and disabled button ### *@
            <li class="page-item active disabled">
                <a class="page-link" href="@BuildPageUrl(Model.PageNumber, pageSize)">
                    <span>@Model.PageNumber</span>
                </a>
            </li>

            @* Next page numbers - possible further positions *@
            @for (int pageNumber = Model.PageNumber + 1; pageNumber < Model.PageNumber + selectorsPerSide + 1; pageNumber++)
            {
                @if (pageNumber <= Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@BuildPageUrl(pageNumber, pageSize)">
                            <span>@pageNumber</span>
                        </a>
                    </li>
                }
            }

            @* Penultimate page number *@
            <li class="page-item @(Model.IsLastPage() ? "disabled" : null)">
                <a class="page-link" href="@BuildPageUrl(Model.PageNumber + 1, pageSize)">
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>

            @* Last page number *@
            <li class="page-item @(Model.IsLastPage() ? "disabled" : null)">
                <a class="page-link" href="@BuildPageUrl(Model.TotalPages, pageSize)">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </li>

        </ul>
    </div>
</div>
