﻿@inject IOptions<StrainerOptions> StrainerOptions
@model IPagedResult
@{
    var pageSizes = new int[] { 10, 20, 40 };
}
@functions {
    public string BuildPageUrl(int size)
    {
        var ignoreQueryParameters = new string[]
        {
            nameof(StrainerModel.Page),
            nameof(StrainerModel.PageSize)
        };
        var controller = ViewContext.RouteData.GetController();
        var action = ViewContext.RouteData.GetAction();
        var routeDictionary = Context
            .Request
            .Query
            .Where(k => !ignoreQueryParameters.Contains(k.Key, StringComparer.OrdinalIgnoreCase))
            .ToDictionary<KeyValuePair<string, StringValues>, string, object>(k => k.Key, v => v.Value.ToString());

        if (size != StrainerOptions.Value.DefaultPageSize)
        {
            routeDictionary.Add(nameof(StrainerModel.PageSize), size);
        }

        return Url.Action(action, controller, routeDictionary);
    }
}

@Localizer.GetString("Show")
<div class="btn-group btn-group-toggle pl-1">
    @foreach (var pageSize in pageSizes)
    {
        var disabledClass = pageSize == Model.PageSize ? "disabled" : null;
        <a class="btn btn-primary @disabledClass" href="@BuildPageUrl(pageSize)">
            @pageSize
        </a>
    }
</div>
