﻿@model VehicleHistoryEntryVM

<thead>
    <tr>
        <td>
            Stay time
        </td>
        <td>
            @Html.DisplayNameFor(m => m.EnteredAt)
        </td>
        <td>
            @Html.DisplayNameFor(m => m.ExitedAt)
        </td>
    </tr>
</thead>