﻿@model VehicleHistoryEntryVM

<tr>
    <td>
        @Html.DisplayForModel("VehicleStayTime")
    </td>
    <td>
        @Html.DisplayFor(m => m.EnteredAt)
    </td>
    <td>
        @Html.DisplayFor(m => m.ExitedAt.Value)
    </td>
</tr>
