﻿@model RequestLogVM

<tr>
    <td>
        @Html.DisplayFor(m => m.Id)
    </td>
    <td>
        @Html.DisplayFor(m => m.Route)
    </td>
    <td>
        @Html.DisplayFor(m => m.HttpMethod, "HttpMethod")
    </td>
    <td>
        @Html.DisplayFor(m => m.HttpStatusCode, "HttpStatusCodeLink")
    </td>
    <td>
        @Html.DisplayFor(m => m.Duration, "DurationMiliseconds")
    </td>
    <td>
        @Html.DisplayFor(m => m.Created, "DateTimeOffsetAge")
    </td>
    <td>
        <a asp-action="@nameof(LoggingController.Show)" asp-route-id="@Model.Id" class="btn btn-primary my-1 my-sm-0 mr-0 mr-sm-2">
            <i class="fas fa-angle-right padding-x-sm"></i>
        </a>
        <button class="btn btn-danger my-1 my-sm-0 mr-0 mr-sm-2" data-toggle="modal" data-target="#removeRequestLogConfirmation" data-id="@Model.Id">
            <i class="fas fa-trash-alt padding-x-xs"></i>
        </button>
    </td>
</tr>
