﻿@model RequestLogVM

<thead>
    <tr>
        <td>
            <a asp-order-by="Id" class="sort-link">
                @Html.DisplayNameFor(m => m.Id)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td>
            <a asp-order-by="Route" class="sort-link">
                @Html.DisplayNameFor(m => m.Route)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td>
            <a asp-order-by="HttpMethod" class="sort-link">
                @Html.DisplayNameFor(m => m.HttpMethod)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td>
            <a asp-order-by="HttpStatusCode" class="sort-link">
                @Html.DisplayNameFor(m => m.HttpStatusCode)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td>
            <a asp-order-by="Duration" class="sort-link">
                @Html.DisplayNameFor(m => m.Duration)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td>
            <a asp-order-by="Created" class="sort-link">
                @Html.DisplayNameFor(m => m.Created)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td></td>
    </tr>
</thead>
