﻿@inject ISelectListProvider<Level> SelectListProvider
@model UpdateSpaceInputModel
@{
    ViewBag.Title = Localizer.GetString("Title");
    var levelsSelectList = await SelectListProvider.GetSelectListAsync(Model.LevelId);
    var statusSelectList = Html.GetEnumSelectList<SpaceStatus>();
}

<div class="row">
    <div class="col">
        <h1 class="display-4 text-center break-word">@ViewBag.Title</h1>
    </div>
</div>

<hr class="margin-y-lg" />

<div class="row margin-bottom-sm">
    <div class="col">
        <a asp-action="@nameof(SpacesController.Show)" asp-route-id="@Model.Id" class="btn btn-primary float-left">
            <i class="fas fa-chevron-left padding-right-sm"></i>
            @Localizer.GetString("Back")
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 justify-content-center">
        <form asp-action="@nameof(SpacesController.Update)">

            <partial name="_Errors/_ValidationSummary" />

            <div class="form-group">
                <label asp-for="Number"></label>
                <input asp-for="Number" class="form-control">
                <span asp-validation-for="Number"></span>
                <div>
                    <small>@Localizer.GetString("Number_Description")</small>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status" asp-items="@statusSelectList" class="custom-select"></select>
                <span asp-validation-for="Status"></span>
            </div>

            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" asp-for="IsForHandicapped">
                    <label class="custom-control-label" asp-for="IsForHandicapped"></label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="LevelId"></label>
                <select asp-for="LevelId" asp-items="@levelsSelectList" class="custom-select"></select>
                <span asp-validation-for="LevelId"></span>
                <div>
                    <small>@Localizer.GetString("LevelId_Description")</small>
                </div>
            </div>

            <button class="btn btn-success btn-lg" type="submit">
                <i class="fas fa-check padding-right-sm"></i>
                @Localizer.GetString("Submit")
            </button>

            <input asp-for="Id" hidden />

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_Scripts\_ValidationScripts" />
}
