﻿@model SpaceVM
@{
    ViewBag.Title = Localizer.GetString("Title", Model.Id);
}

<div class="row">
    <div class="col">
        <h1 class="display-4 text-center break-word">@ViewBag.Title</h1>
    </div>
</div>

<hr class="margin-y-lg" />

<div class="row margin-bottom-sm">
    <div class="col">
        <a asp-action="@nameof(SpacesController.Index)"
           class="btn btn-primary float-left">
            <i class="fas fa-chevron-left padding-right-sm"></i>
            @Localizer.GetString("Back")
        </a>

        <button class="btn btn-danger ml-2 float-right"
                data-toggle="modal"
                data-target="#removeSpaceConfirmation">
            <i class="fas fa-trash-alt padding-right-xs"></i>
            @Localizer.GetString("Remove")
        </button>
        <a class="btn btn-success float-right"
           asp-action="@nameof(SpacesController.Edit)"
           asp-route-id="@Model.Id">
            <i class="fas fa-pencil-alt padding-right-xs"></i>
            @Localizer.GetString("Edit")
        </a>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 justify-content-center">
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.Id):</dt>
            <dd class="col">@Html.DisplayFor(m => m.Id)</dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.Number):</dt>
            <dd class="col">@Html.DisplayFor(m => m.Number)</dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.LevelPosition):</dt>
            <dd class="col">
                <a class="btn btn-sm btn-primary"
                   asp-controller="Levels"
                   asp-action="@nameof(LevelsController.Show)"
                   asp-route-id="@Model.LevelId">
                    <i class="fas fa-layer-group padding-right-xs"></i>
                    @Html.DisplayFor(m => m.LevelPosition)
                </a>
            </dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.IsOccupied):</dt>
            <dd class="col">
                <span class="@(Model.IsOccupied ? "text-danger" : "text-success")">
                    @Html.DisplayFor(m => m.IsOccupied, "BoolYesNo")
                </span>
            </dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.IsOutOfService):</dt>
            <dd class="col">
                <span class="@(Model.IsOutOfService ? "bg-danger rounded px-2 py-1" : "text-success")">
                    @Html.DisplayFor(m => m.IsOutOfService, "BoolYesNo")
                </span>
            </dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.IsForHandicapped):</dt>
            <dd class="col">
                <span class="@(Model.IsForHandicapped ? "bg-primary rounded px-2 py-1" : null)">
                    @Html.DisplayFor(m => m.IsForHandicapped, "BoolYesNo")
                </span>
            </dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.Created):</dt>
            <dd class="col">
                <span title="@Html.DisplayTextFor(m => m.Created)">
                    @Html.DisplayFor(m => m.Created)
                </span>
            </dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.Updated):</dt>
            <dd class="col">
                <span title="@Html.DisplayTextFor(m => m.Updated)">
                    @Html.DisplayFor(m => m.Updated)
                </span>
            </dd>
        </dl>
        <div class="row">
            <div class="col">
                <hr />

                <div class="pb-2">
                    <h3 class="text-center">
                        @Localizer.GetString("LastSpaceHistoryEntries")
                    </h3>

                    <a class="d-block text-right" href="@(Url.Action(
                        nameof(HistoryController.Spaces),
                        "History")
                        + "?Filters="
                        + "Space.Number"
                        + "=="
                        + Model.Number)">
                        <i class="fas fa-history pr-1"></i>
                        @Localizer.GetString("FullHistory")
                    </a>
                </div>

                <table class="table table-hover vertical-align text-center">
                    <partial name="_SpaceHistory/_TableHead" model="Model.RecentHistory.FirstOrDefault()" />
                    <tbody>
                        @foreach (var item in Model.RecentHistory)
                        {
                            <partial name="_SpaceHistory/_TableRow" model="item" />
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_Modals/_RemoveSpaceConfirmation" model="Model.Id" />
