﻿.footer {
    width: 100%;
    white-space: nowrap;
    height: 250px;
    line-height: 60px;
    background-image: url(./../img/parking-spaces.jpg);
    background-size: cover;
    background-position: center;
    /*filter: blur(1.2px);*/
    & .header {
        color: black;
        background: rgba(0, 0, 0, .2);
        padding: 2px 4px;
        font-family: 'Gugi', cursive;
    }

    & .copyright {
        background: rgba(0, 0, 0, .2);
        padding: .125em .25em;
    }
}
