﻿.license-plate {
    background: white;
    color: black;
    padding: 0 10px;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 6px;
    border: black solid 5px;

    &.license-plate-sm {
        border-radius: 3px;
        border: black solid 2px;
        padding: 0 4px;
    }

    &:hover,
    &:focus {
        color: black;
        text-decoration: none;
    }
}
