﻿$margin-size-map: ( none 0, xs .25em, sm .5em, md 1em, lg 1.5em, xl 3em );

$margin-directions: top right bottom left;

$margin-axes-map: ( x (left right), y (top bottom) );

@each $key, $value in $margin-size-map {
    .margin-#{$key} {
        margin: $value;
    }

    @each $direction in $margin-directions {
        .margin-#{$direction}-#{$key} {
            margin-#{$direction}: $value;
        }
    }

    @each $axis-name, $axis-directions in $margin-axes-map {
        .margin-#{$axis-name}-#{$key} {
            @each $axis-direction in $axis-directions {
                margin-#{$axis-direction}: $value;
            }
        }
    }
}
