﻿$padding-size-map: ( none 0, xs .25em, sm .5em, md 1em, lg 1.5em, xl 3em );

$padding-directions: top right bottom left;

$padding-axes-map: ( x (left right), y (top bottom) );

@each $key, $value in $padding-size-map {
    .padding-#{$key} {
        padding: $value;
    }

    @each $direction in $padding-directions {
        .padding-#{$direction}-#{$key} {
            padding-#{$direction}: $value;
        }
    }

    @each $axis-name, $axis-directions in $padding-axes-map {
        .padding-#{$axis-name}-#{$key} {
            @each $axis-direction in $axis-directions {
                padding-#{$axis-direction}: $value;
            }
        }
    }
}
