﻿@use "sass:color";

thead > tr > td {

    a.sort-link {
        position: relative;

        & i, & span {
            color: color.scale($gray-600, $lightness: -20%);
            font-size: 1.1em;
        }

        &.ascending {
            & span, i {
                &.ascending {
                    color: $warning;
                }
            }
        }

        &.descending {
            & span, i {
                &.descending {
                    color: $warning;
                }
            }
        }

        & span, & i {
            &.descending {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
}
