﻿@model LevelVM

<div class="modal fade" id="removeLevelConfirmation" tabindex="-1" role="dialog" aria-labelledby="removeLevelConfirmationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeLevelConfirmationLabel">
                    @Localizer.GetString("Are you sure?")
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you would like to remove this parking level with its spaces?</p>
            </div>
            <div class="modal-footer">
                <form asp-controller="Levels" asp-action="@nameof(LevelsController.Destroy)">
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash-alt padding-right-xs"></i>
                        @Localizer.GetString("Remove")
                    </button>
                    <input asp-for="Id" hidden />
                </form>
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <i class="fas fa-times padding-right-xs"></i>
                    @Localizer.GetString("Cancel")
                </button>
            </div>
        </div>
    </div>
</div>
