﻿@model UpdateLevelInputModel
@{
    ViewBag.Title = Localizer.GetString("Title");
}

<div class="row">
    <div class="col">
        <h1 class="display-4 text-center break-word">@ViewBag.Title</h1>
    </div>
</div>

<hr class="margin-y-lg" />

<div class="row margin-bottom-sm">
    <div class="col">
        <a asp-action="@nameof(LevelsController.Show)" asp-route-id="@Model.Id" class="btn btn-primary float-left">
            <i class="fas fa-chevron-left padding-right-sm"></i>
            @Localizer.GetString("Back")
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 justify-content-center">
        <form asp-action="@nameof(LevelsController.Update)">

            <partial name="_Errors/_ValidationSummary" />

            <div class="form-group">
                <label asp-for="Position"></label>
                <input asp-for="Position" class="form-control">
                <span asp-validation-for="Position"></span>
                <div>
                    <small>@Localizer.GetString("Position_Description")</small>
                </div>
            </div>

            <div class="form-group">
                <div class="alert alert-info">
                    <div class="row">
                        <div class="col-9 align-self-center">
                            @Localizer.GetString("SpacesAmount_NoteHowToEdit")
                        </div>
                        <div class="col-3">
                            <a class="btn btn-primary text-decoration-none" asp-controller="Spaces" asp-action="@nameof(SpacesController.Index)" asp-route-Filters="LevelPosition==@Model.Position">
                                See spaces
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-success btn-lg" type="submit">
                <i class="fas fa-check padding-right-sm"></i>
                @Localizer.GetString("Submit")
            </button>

            <input asp-for="Id" hidden />

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_Scripts\_ValidationScripts" />
}
