﻿@model IPagedResult<LevelListItemVM>
@{
    Layout = "_Layouts/_LayoutFluid1400";
    ViewBag.Title = Localizer.GetString("Title");
}

<div class="row">
    <div class="col">
        <h1 class="display-4 text-center break-word">@ViewBag.Title</h1>
    </div>
</div>

<hr class="margin-y-lg" />

<div class="row margin-bottom-sm">
    <div class="col">
        <a asp-action="@nameof(LevelsController.New)" class="btn btn-success float-right">
            <i class="fas fa-plus padding-right-sm"></i>
            @Localizer.GetString("New")
        </a>
    </div>
</div>

<partial name="_ListView/_Head" />

<div class="row">
    <div class="col col-2">
        <partial name="_ListView/_Filtering/_FiltersSelector" />
    </div>
    <div class="col col-10">
        <table class="table table-hover vertical-align text-center">
            <partial name="_TableHead" model="Model.Items.FirstOrDefault()" />
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <partial name="_TableRow" model="item" />
                }
            </tbody>
        </table>
    </div>
</div>

<partial name="_ListView/_Footer" />

<partial name="_Modals/_RemoveLevelConfirmation" model="null" />

@section Scripts {
    <script>
        $('button[data-target="#removeLevelConfirmation"]').click(function () {
            let id = $(this).attr('data-id');
            $('#removeLevelConfirmation').find('input#Id').val(id);
        });
    </script>
}
