﻿@model LevelVM
@{
    ViewBag.Title = $"{Localizer.GetString("Title", Model.Position)} {Model.Position}";
}

<div class="row">
    <div class="col">
        <h1 class="display-4 text-center break-word">@ViewBag.Title</h1>
    </div>
</div>

<hr class="margin-y-lg" />

<div class="row margin-bottom-sm">
    <div class="col">
        <a asp-action="@nameof(LevelsController.Index)" class="btn btn-primary float-left">
            <i class="fas fa-chevron-left padding-right-sm"></i>
            @Localizer.GetString("Back")
        </a>

        <button class="btn btn-danger ml-2 float-right" data-toggle="modal" data-target="#removeLevelConfirmation">
            <i class="fas fa-trash-alt padding-right-xs"></i>
            @Localizer.GetString("Remove")
        </button>
        <a asp-action="@nameof(LevelsController.Edit)" asp-route-id="@Model.Id" class="btn btn-success float-right">
            <i class="fas fa-pencil-alt padding-right-xs"></i>
            @Localizer.GetString("Edit")
        </a>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 justify-content-center">
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.Id):</dt>
            <dd class="col">@Html.DisplayFor(m => m.Id)</dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.Position):</dt>
            <dd class="col">@Html.DisplayFor(m => m.Position)</dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.SpacesCount):</dt>
            <dd class="col">
                <a class="btn btn-sm btn-primary" asp-controller="Spaces" asp-action="@nameof(SpacesController.Index)" asp-route-Filters="LevelPosition==@Model.Position">
                    <i class="fas fa-th-large padding-right-xs"></i>
                    @Localizer.GetString("Spaces"): @Model.SpacesCount
                </a>
            </dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.Created):</dt>
            <dd class="col">
                <span title="@Html.DisplayTextFor(m => m.Created)">
                    @Html.DisplayFor(m => m.Created)
                </span>
            </dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.Updated):</dt>
            <dd class="col">
                <span title="@Html.DisplayTextFor(m => m.Updated)">
                    @Html.DisplayFor(m => m.Updated.Value)
                </span>
            </dd>
        </dl>
    </div>
</div>

<partial name="_Modals/_RemoveLevelConfirmation" model="Model" />
