﻿@model HomePageVM
@{
    ViewBag.Title = Localizer.GetString("Title");
}

<div class="text-center">
    <h1 class="display-4 break-word">@Localizer.GetString("Header")!</h1>
</div>

<hr class="margin-y-xl" />

<div class="row">
    <div class="col">
        <div class="card-deck">
            @foreach (var levelMetadata in Model.LevelMetadata)
            {
                <partial name="_Partials/_LevelMetadataCard" model="levelMetadata" />
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_Scripts/_ChartJsScripts" />
    <script>
        function getConfig($canvas) {
            return {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [
                            $canvas.data('spaces-available'),
                            $canvas.data('spaces-occupied'),
                            $canvas.data('spaces-out-of-service')
                        ],
                        backgroundColor: [
                            $canvas.data('spaces-available-color'),
                            $canvas.data('spaces-occupied-color'),
                            $canvas.data('spaces-out-of-service-color')
                        ]
                    }],
                    labels: [
                        $canvas.data('spaces-available-label'),
                        $canvas.data('spaces-occupied-label'),
                        $canvas.data('spaces-out-of-service-label')
                    ]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'left',
                    },
                    animation: {
                        animateScale: false,
                        animateRotate: true
                    }
                }
            }
        };

        $(window).on('load', function () {
            $('.card canvas').each((i, canvas) => {
                let context = canvas.getContext('2d');
                new Chart(context, getConfig($(canvas)));
            });
        });
    </script>
}
