﻿@model VehicleVM

<thead>
    <tr>
        <td>
            <a asp-order-by="LicensePlate" class="sort-link">
                @Html.DisplayNameFor(m => m.LicensePlate)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td>
            <a asp-order-by="Type" class="sort-link">
                @Html.DisplayNameFor(m => m.Type)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        @*<td>
            <a asp-order-by="Space" class="sort-link">
                @Html.DisplayNameFor(m => m.Space)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>*@
        <td></td>
    </tr>
</thead>
