﻿@model VehicleVM

<tr>
    <td>
        <span class="license-plate license-plate-sm">
            @Html.DisplayFor(m => m.LicensePlate)
        </span>
    </td>
    <td>
        @Html.DisplayFor(m => m.Type)
    </td>
    @*<td>
        @if (Model.SpaceId.HasValue)
        {
            <a class="btn btn-sm btn-primary" asp-controller="Spaces" asp-action="@nameof(SpacesController.Show)" asp-route-id="@Model.SpaceId">
                <i class="fas fa-th-large pr-1"></i>
                @Html.DisplayFor(m => m.Space.Number)
            </a>
        }
    </td>*@
    <td>
        <a asp-action="@nameof(VehiclesController.Show)" asp-route-id="@Model.Id" class="btn btn-primary my-1 my-sm-0 mr-0 mr-sm-2">
            <i class="fas fa-angle-right padding-x-sm"></i>
        </a>
    </td>
</tr>
