﻿@model SpaceHistoryEntryVM

<tr>
    <td>
        @Html.DisplayFor(m => m.OccupationTime)
    </td>
    <td>
        @Html.DisplayFor(m => m.TakenAt)
    </td>
    <td>
        @Html.DisplayFor(m => m.ReleasedAt.Value)
    </td>
</tr>
