﻿@model SpaceHistoryEntryVM

<thead>
    <tr>
        <td>
            Occupation time
        </td>
        <td>
            @Html.DisplayNameFor(m => m.TakenAt)
        </td>
        <td>
            @Html.DisplayNameFor(m => m.ReleasedAt)
        </td>
    </tr>
</thead>