﻿@inject IStrainerConfigurationProvider StrainerConfigurationProvider
@inject IStrainerFilterOperatorSubgroupStore StrainerFilterOperatorSubgroupStore
@{
    var strainerConfiguration = StrainerConfigurationProvider.GetStrainerConfiguration();
    var filteringOperators = strainerConfiguration.FilterOperators;
    var modelFilters = ViewData["ModelFilters"] as ModelFilters;
    var propertyDescriptors = ViewData["PropertyDescriptors"] as IReadOnlyDictionary<string, IPropertyDescriptor>;
}

<div class="modal fade filterEditModal" tabindex="-1" role="dialog" aria-labelledby="#filterEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterEditModalLabel">
                    @Localizer.GetString("Configure filter")
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col">
                            <select id="filterFieldSelect" class="form-control d-none">
                                @foreach (var propertyMetadata in modelFilters.FilterableProperties)
                                {
                                    var displayName = propertyMetadata.DisplayName ?? propertyMetadata.Name;
                                    if (!propertyDescriptors.TryGetValue(displayName, out var propertyDescriptor))
                                    {
                                        throw new InvalidOperationException(
                                            "Missing list view configuration for type " + modelFilters.ModelType.Name
                                            + " and property " + displayName);
                                    }
                                    <option value="@displayName" data-basis-type="@propertyDescriptor.BasisType">@displayName</option>
                                }
                            </select>
                            <label id="filterFieldLabel" class="col-form-label d-none"></label>
                        </div>
                        <div class="col">
                            <select id="filterOperatorSelect" class="form-control">
                                @foreach (var filterOperator in filteringOperators.Values)
                                {
                                    string stringSubGroups = null;
                                    if (StrainerFilterOperatorSubgroupStore.TryGetBasisTypes(filterOperator, out var subgroups))
                                    {
                                        stringSubGroups = string.Join(",", subgroups);
                                    }
                                    <option value="@filterOperator.Symbol" data-basis-type-subgroups="@stringSubGroups">@filterOperator.Symbol (@filterOperator.Name)</option>
                                }
                            </select>
                        </div>
                        <div class="col">
                            <input id="filterFieldInput" class="form-control" type="text" placeholder="Filter value">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success filterEditModalApply">
                        <i class="fas fa-check padding-right-xs"></i>
                        @Localizer.GetString("Apply")
                    </button>
                    <button type="button" class="btn btn-primary filterEditModalDismiss" data-dismiss="modal">
                        <i class="fas fa-times padding-right-xs"></i>
                        @Localizer.GetString("Cancel")
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
