﻿@import "./../bootstrap/components/_variables";

@import './components/_footer';
@import './components/_licensePlate';
@import './components/_links';
@import './components/_margin';
@import './components/_padding';
@import './components/_tables';

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.dimmed {
    opacity: 0.75;
    transition: opacity ease-in-out 0.3s;
}

.full-opacity-on-hover {
    &:hover, &:active {
        opacity: 1;
    }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.break-word {
    word-wrap: break-word;
    white-space: normal;
}

.vertical-center {
    /*min-height: 100%;*/ /* Fallback for browsers do NOT support vh unit */
    /*min-height: 100vh;*/ /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
}
