﻿<footer class="border-top border-secondary border-dark footer text-center vertical-center">
    <h1 class="header text-center text-uppercase break-word">
        @Constants.ApplicationName
    </h1>
    <h5 class="copyright text-center text-light break-word">
        &copy; @DateTimeOffset.UtcNow.Year
    </h5>
    <div class="margin-y-lg">&nbsp;</div>
</footer>
