﻿@model ExceptionVM
@{
    ViewBag.Title = Localizer.GetString("Title");
}

<div class="text-center">
    <h1 class="text-danger">@Localizer.GetString("Error")</h1>
    <h3>@Model.Message</h3>
</div>
