﻿@model HttpStatusCodeVM
@{
    ViewBag.Title = Model.HttpStatusCode;
}

<div class="text-center">
    <h1 class="@(Model.IsError ? "text-danger" : null)">@Model.HttpStatusCode</h1>
    <h3>@Model.Message</h3>
</div>
