﻿@model LevelMetadataVM

<a class="card text-decoration-none" asp-controller="Levels" asp-action="@nameof(LevelsController.Show)" asp-route-id="@Model.Id">
    <div class="card-header">
        <h4 class="text-center m-0">
            @Localizer.GetString("Level") @Model.Position
        </h4>
    </div>
    <div class="card-body">
        <canvas data-spaces-available="@Model.UnoccupiedSpacesCount"
                data-spaces-available-label="@Localizer.GetString(nameof(SpaceStatus.Unoccupied))"
                data-spaces-available-color="green"
                data-spaces-occupied="@Model.OccupiedSpacesCount"
                data-spaces-occupied-label="@Localizer.GetString(nameof(SpaceStatus.Occupied))"
                data-spaces-occupied-color="red"
                data-spaces-out-of-service="@Model.OutOfServiceSpacesCount"
                data-spaces-out-of-service-label="@Localizer.GetString(nameof(SpaceStatus.OutOfService))"
                data-spaces-out-of-service-color="grey"></canvas>
    </div>
    <div class="card-footer text-right">
        <small class="text-muted">
            @Model.Updated.Value.LocalDateTime
        </small>
    </div>
</a>
