﻿@model IPagedResult<RequestLogVM>
@{
    Layout = "_Layouts/_LayoutFullWidth";

    ViewBag.Title = Localizer.GetString("Title");
}

<div class="row">
    <div class="col">
        <h1 class="display-4 text-center break-word">@ViewBag.Title</h1>
    </div>
</div>

<hr class="margin-y-lg" />

<partial name="_ListView/_Head" />

<div class="row">
    <div class="col col-2">
        <partial name="_ListView/_Filtering/_FiltersSelector" />
    </div>
    <div class="col col-10">
        <table class="table table-hover vertical-align text-center">
            <partial name="_TableHead" model="Model.Items.FirstOrDefault()" />
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <partial name="_TableRow" model="item" />
                }
            </tbody>
        </table>
    </div>
</div>

<partial name="_ListView/_Footer" />

<partial name="_Modals/_RemoveRequestLogConfirmation" model="null" />

@section Scripts {
    <script>
        $('button[data-target="#removeRequestLogConfirmation"]').click(function () {
            let id = $(this).attr('data-id');
            $('#removeRequestLogConfirmation').find('input#Id').val(id);
        });
    </script>
}

