﻿@model RequestLogVM
@{
    ViewBag.Title = Localizer.GetString(
        "Log #{0}",
        Model.Id);
}

<div class="row">
    <div class="col">
        <h1 class="display-4 text-center break-word">@ViewBag.Title</h1>
    </div>
</div>

<hr class="margin-y-lg" />

<div class="row margin-bottom-sm">
    <div class="col">
        <a asp-action="@nameof(LoggingController.Index)" class="btn btn-primary float-left">
            <i class="fas fa-chevron-left padding-right-sm"></i>
            @Localizer.GetString("Back")
        </a>

        <button class="btn btn-danger ml-2 float-right" data-toggle="modal" data-target="#removeRequestLogConfirmation">
            <i class="fas fa-trash-alt padding-right-xs"></i>
            @Localizer.GetString("Remove")
        </button>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 mb-3 justify-content-center">
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.Id):</dt>
            <dd class="col">@Html.DisplayFor(m => m.Id)</dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.Created):</dt>
            <dd class="col">@Html.DisplayFor(m => m.Created)</dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.HttpMethod):</dt>
            <dd class="col">@Html.DisplayFor(m => m.HttpMethod, "HttpMethod")</dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.HttpStatusCode):</dt>
            <dd class="col">@Html.DisplayFor(m => m.HttpStatusCode, "HttpStatusCodeLink")</dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.Duration):</dt>
            <dd class="col">@Html.DisplayFor(m => m.Duration, "DurationMiliseconds")</dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.IPAddress):</dt>
            <dd class="col">@Html.DisplayFor(m => m.IPAddress)</dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.IsHttps):</dt>
            <dd class="col">@Html.DisplayFor(m => m.IsHttps, "BoolYesNo")</dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.Route):</dt>
            <dd class="col">@Html.DisplayFor(m => m.Route)</dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.Query):</dt>
            <dd class="col">@Html.DisplayFor(m => m.Query)</dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.RequestHeaders):</dt>
            <dd class="col">
                <button class="btn btn-dark"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseRequestHeaders"
                        @(string.IsNullOrWhiteSpace(Model.RequestHeaders) ? "disabled" : null)>
                    Expand
                </button>
            </dd>
        </dl>
        <dl>
            <dd id="collapseRequestHeaders" class="col collapse">
                @Html.DisplayFor(m => m.RequestHeaders, "HeadersCollection")
            </dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.ResponseHeaders):</dt>
            <dd class="col">
                <button class="btn btn-dark"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseResponseHeaders"
                        @(string.IsNullOrWhiteSpace(Model.ResponseHeaders) ? "disabled" : null)>
                    Expand
                </button>
            </dd>
        </dl>
        <dl>
            <dd id="collapseResponseHeaders" class="col collapse">
                @Html.DisplayFor(m => m.ResponseHeaders, "HeadersCollection")
            </dd>
        </dl>
    </div>
</div>

<partial name="_Modals/_RemoveRequestLogConfirmation" model="Model" />
