﻿@model VehicleHistoryEntryVM

<thead>
    <tr>
        <td>
            <a asp-order-by="Vehicle" asp-model-name="Vehicle.LicensePlate" class="sort-link">
                @Html.DisplayNameFor(m => m.Vehicle)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td>
            <a asp-order-by="EnteredAt" asp-model-name="StayTime" class="sort-link">
                Stay time
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td>
            <a asp-order-by="EnteredAt" class="sort-link">
                @Html.DisplayNameFor(m => m.EnteredAt)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td>
            <a asp-order-by="ExitedAt" class="sort-link">
                @Html.DisplayNameFor(m => m.ExitedAt)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
    </tr>
</thead>
