﻿@model VehicleHistoryEntryVM

<tr>
    <td>
        <a class="btn btn-sm btn-primary" asp-controller="Vehicles" asp-action="@nameof(VehiclesController.Show)" asp-route-id="@Model.VehicleId">
            <span class="pr-1">
                @Html.DisplayFor(m => m.Vehicle.Type, "VehicleTypeIcon")
            </span>
            @Html.DisplayFor(m => m.Vehicle.LicensePlate)
        </a>
    </td>
    <td>
        @Html.DisplayForModel("VehicleStayTime")
    </td>
    <td>
        @Html.DisplayFor(m => m.EnteredAt)
    </td>
    <td>
        @Html.DisplayFor(m => m.ExitedAt.Value)
    </td>
</tr>
