﻿@using Microsoft.AspNetCore.Mvc.ModelBinding
@using System.Linq

@if (!ViewContext.ModelState.IsValid)
{
    var invalidModelStateEntires = ViewContext.ModelState
        .Where(entry => entry.Value.ValidationState == ModelValidationState.Invalid);
    <div class="alert border border-danger my-2 py-2">
        <div>
            <h4 class="pl-2 text-danger">
                <span class="fa fa-exclamation-circle pr-1"></span>
                Error
            </h4>
        </div>
        <ul class="mb-0">
            @foreach (var modelStateEntry in invalidModelStateEntires)
            {
                @foreach (var error in modelStateEntry.Value.Errors)
                {
                    <li>
                        @error.ErrorMessage
                    </li>
                }
            }
        </ul>
    </div>
}
