// Darkly 4.3.1
// Bootswatch
@use "sass:color";

// Variables ===================================================================

$web-font-path: "https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic" !default;
@import url($web-font-path);

// Navbar ======================================================================

.bg-primary {
    .navbar-nav .active > .nav-link {
        color: $success !important;
    }
}

.bg-dark {
    background-color: $success !important;

    &.navbar-dark .navbar-nav {
        .nav-link:focus,
        .nav-link:hover,
        .active > .nav-link {
            color: $primary !important;
        }
    }
}

// Buttons =====================================================================

// Typography ==================================================================

.blockquote {

    &-footer {
        color: $gray-600;
    }
}

// Tables ======================================================================

.table {

    &-primary {
        &, > th, > td {
            background-color: $primary;
        }
    }

    &-secondary {
        &, > th, > td {
            background-color: $secondary;
        }
    }

    &-light {
        &, > th, > td {
            background-color: $light;
        }
    }

    &-dark {
        &, > th, > td {
            background-color: $dark;
        }
    }

    &-success {
        &, > th, > td {
            background-color: $success;
        }
    }

    &-info {
        &, > th, > td {
            background-color: $info;
        }
    }

    &-danger {
        &, > th, > td {
            background-color: $danger;
        }
    }

    &-warning {
        &, > th, > td {
            background-color: $warning;
        }
    }

    &-active {
        &, > th, > td {
            background-color: $table-active-bg;
        }
    }

    &-hover {

        .table-primary:hover {
            &, > th, > td {
                background-color: color.scale($primary, $lightness: -5%);
            }
        }

        .table-secondary:hover {
            &, > th, > td {
                background-color: color.scale($secondary, $lightness: -5%);
            }
        }

        .table-light:hover {
            &, > th, > td {
                background-color: color.scale($light, $lightness: -5%);
            }
        }

        .table-dark:hover {
            &, > th, > td {
                background-color: color.scale($dark, $lightness: -5%);
            }
        }

        .table-success:hover {
            &, > th, > td {
                background-color: color.scale($success, $lightness: -5%);
            }
        }

        .table-info:hover {
            &, > th, > td {
                background-color: color.scale($info, $lightness: -5%);
            }
        }

        .table-danger:hover {
            &, > th, > td {
                background-color: color.scale($danger, $lightness: -5%);
            }
        }

        .table-warning:hover {
            &, > th, > td {
                background-color: color.scale($warning, $lightness: -5%);
            }
        }

        .table-active:hover {
            &, > th, > td {
                background-color: $table-active-bg;
            }
        }
    }
}

// Forms =======================================================================

.input-group-addon {
    color: $white;
}

// Navs ========================================================================

.nav-tabs,
.nav-pills {

    .nav-link,
    .nav-link.active,
    .nav-link.active:focus,
    .nav-link.active:hover,
    .nav-item.open .nav-link,
    .nav-item.open .nav-link:focus,
    .nav-item.open .nav-link:hover {
        color: $white;
    }
}

.breadcrumb a {
    color: $white;
}

.pagination {
    a:hover {
        text-decoration: none;
    }
}

// Indicators ==================================================================

.close {
    opacity: 0.4;

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.alert {
    border: none;
    color: $white;

    a,
    .alert-link {
        color: $white;
        text-decoration: underline;
    }

    @each $color, $value in $theme-colors {
        &-#{$color} {
            @if $enable-gradients {
                background: $value linear-gradient(180deg, mix($white, $value, 15%), $value) repeat-x;
            }
            @else {
                background-color: $value;
            }
        }
    }
}

// Progress bars ===============================================================

// Containers ==================================================================


.list-group-item-action {
    color: $white;

    &:hover,
    &:focus {
        background-color: $gray-700;
        color: $white;
    }

    .list-group-item-heading {
        color: $white;
    }
}

// Horizontal lines ============================================================

hr {
    border-top-color: $gray-700;
}
