﻿@media (min-width: 576px) {
    .navbar-expand-sm {
        & .navbar-nav {
            & .nav-link {
                padding: .8em 1em;
            }
        }
    }
}

.navbar-nav {
    .nav-link {
        padding: .8em 1.2em;
    }
}

.navbar-brand {
    padding: .4em .6em;
}

.navbar-light,
.navbar-dark {

    & .navbar-nav {

        & .nav-link {
            &:hover, &:focus, &.active:hover, &.active:focus {
                background: rgba(0, 0, 0, .25);
            }

            &.active {
                background: rgba(0, 0, 0, .15);
            }
        }
    }
}
