﻿.page-link {
    &:focus {
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border-color;
    }
}

.pagination-md {
    @include pagination-size($pagination-padding-y-md, $pagination-padding-x-md, $font-size-md, $line-height-md, $border-radius-md);
}
