﻿.table.vertical-align > tbody > tr > td {
    vertical-align: middle;
}

.table > thead > tr > td {
    font-weight: bold;
}

.table > thead + tbody > tr:first-of-type > td {
    border-top: 2 * $table-border-width solid $table-border-color;
}
