﻿@model IPagedResult

<div class="row margin-bottom-sm">
    <div class="col-12 text-center text-sm-right">
        <div class="d-inline">
            <partial name="_ListView/_Pagination/_CountBadge" />
        </div>
        <div class="d-inline pl-3">
            <partial name="_ListView/_Pagination/_PageSizeSelector" />
        </div>
    </div>
</div>

@if (Model.ItemsCount >= 40)
{
    <div class="row mb-2">
        <div class="col">
            <partial name="_ListView/_Pagination/_PageNumberSelector" />
        </div>
    </div>
}
