﻿@model LineChartVM
@{
    ViewBag.Title = Localizer.GetString("Title");
}

<div class="text-center">
    <h1 class="display-4 break-word">@Localizer.GetString("Title")</h1>
</div>

<hr class="margin-y-xl" />

<div class="row">
    <div class="col">
        <canvas id="request-logs-chart"
                data-chart-title="@Localizer.GetString("Requests")"
                data-x-labels="@string.Join(",", Model.XAxisLabels)"
                data-chart-datasets="@string.Join(";", Model.DataSets.Select(dataset => string.Join(",", dataset)))"></canvas>
    </div>
</div>

@section Scripts {
    <partial name="_Scripts/_ChartJsScripts" />
    <script>
        function getConfig($canvas) {

            let datasets = [];

            for (let i = 0; i < $canvas.data('chart-datasets').split(';').length; i++) {
                datasets[i] = {
                    data: $canvas.data('chart-datasets').split(';')[i].split(','),
                    borderColor: '#00bc8c',
                    label: $canvas.data('chart-title'),
                };
            }

            return {
                type: 'line',
                data: {
                    datasets: datasets,
                    labels: $canvas.data('x-labels').split(','),
                },
                options: {
                    legend: {
                        display: false,
                    },
                    responsive: true,
                    elements: {
                        line: {
                            tension: 0,
                        },
                    },
                    animation: {
                        animateScale: true,
                        animateRotate: false,
                    }
                }
            }
        };

        $(window).on('load', function () {
            $('#request-logs-chart').each((i, canvas) => {
                let context = canvas.getContext('2d');
                new Chart(context, getConfig($(canvas)));
            });
        });
    </script>
}
