﻿@inject IStrainerTypeMapper StrainerTypeMapper
@inject IStrainerFiltersProvider StrainerFiltersProvider
@inject IStrainerFiltersDecoder StrainerFiltersDecoder
@inject IListViewConfigurationProvider ListViewConfigurationProvider
@model IPagedResult
@{
    var pageResultType = Model.GetType();
    if (typeof(IPagedResult<>).IsAssignableFrom(pageResultType.GetGenericTypeDefinition()))
    {
        throw new NotSupportedException($"Only view models implementing {typeof(IPagedResult<>).Name} are supported.");
    }
    var viewModelType = pageResultType.GetGenericArguments().Last();
    var modelType = StrainerTypeMapper.Map(viewModelType);
    var modelFilters = StrainerFiltersProvider.GetModelFilters(modelType);
    var currentFilters = StrainerFiltersDecoder.Decode(Context.Request.Query["Filters"], modelFilters);
    var listViewConfiguration = ListViewConfigurationProvider.GetConfiguration();
    if (!listViewConfiguration.PropertyDescriptors.TryGetValue(viewModelType, out var propertyDescriptors))
    {
        throw new InvalidOperationException("Missing list view configuration for type " + viewModelType.Name);
    }

    ViewData["ModelFilters"] = modelFilters;
    ViewData["PropertyDescriptors"] = propertyDescriptors;
}

@if (!modelFilters.HasAnyFilters)
{
    return;
}

<hr class="mt-0" />

<h4 class="header">Filters</h4>

@{ var index = 0; }
@foreach (var (property, term) in currentFilters)
{
    var name = property.DisplayName ?? property.Name;
    var filteringOperator = term.Operator;
    var filterValue = term.Values[0];
    if (!propertyDescriptors.TryGetValue(name, out var propertyDescriptor))
    {
        throw new InvalidOperationException(
            "Missing list view configuration for type " + viewModelType.Name
            + " and property " + name);
    }

    <div class="w-100 mb-2">
        <div class="btn-group btn-group-sm mr-1 filterField">
            <button class="btn btn-primary btn-sm filterConfigureModalButton filterEditModalButton"
                    type="button"
                    data-index="@index"
                    data-basis-type="@propertyDescriptor.BasisType">
                <span class="filterFieldName">@(property.DisplayName ?? property.Name)</span>
                <span class="text-warning filterFieldOperator" title="@filteringOperator.Name">@filteringOperator.Symbol</span>
                <span class="filterFieldValue">@filterValue</span>
            </button>
            <button class="btn btn-primary btn-sm removeFilterFieldButton" type="button" data-index="@index">
                <span class="text-danger" title="@Localizer.GetString("Remove")">
                    <i class="fas fa-times"></i>
                </span>
            </button>
        </div>
    </div>
    index++;
}

<hr />

<div class="btn-group btn-group-sm mb-1">
    <button class="btn btn-success btn-sm filterConfigureModalButton filterAddModalButton" type="button">
        <i class="fas fa-plus mr-2"></i>@Localizer.GetString("Add")
    </button>
</div>

<partial name="_ListView/_Filtering/_Modals/_EditFilter" />
