﻿@model LevelListItemVM

<tr>
    <td>
        @Html.DisplayFor(m => m.Id)
    </td>
    <td>
        @Html.DisplayFor(m => m.Position)
    </td>
    <td>
        <a class="btn btn-sm btn-primary" asp-controller="Spaces" asp-action="@nameof(SpacesController.Index)" asp-route-Filters="LevelPosition==@Model.Position">
            <i class="fas fa-th-large padding-right-xs"></i>
            @Model.SpacesCount
        </a>
    </td>
    <td style="width: 34%;">
        <a asp-action="@nameof(LevelsController.Show)" asp-route-id="@Model.Id" class="btn btn-primary my-1 my-sm-0 mr-0 mr-sm-2">
            <i class="fas fa-angle-right padding-x-sm"></i>
        </a>
        <a asp-action="@nameof(LevelsController.Edit)" asp-route-id="@Model.Id" class="btn btn-success my-1 my-sm-0 mr-0 mr-sm-2">
            <i class="fas fa-pencil-alt padding-x-xs"></i>
        </a>
        <button class="btn btn-danger my-1 my-sm-0 mr-0 mr-sm-2" data-toggle="modal" data-target="#removeLevelConfirmation" data-id="@Model.Id">
            <i class="fas fa-trash-alt padding-x-xs"></i>
        </button>
    </td>
</tr>
