﻿@model LevelListItemVM

<thead>
    <tr>
        <td>
            <a asp-order-by="Id" class="sort-link">
                @Html.DisplayNameFor(m => m.Id)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td>
            <a asp-order-by="Position" class="sort-link">
                @Html.DisplayNameFor(m => m.Position)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td>
            <a asp-order-by="SpacesCount" asp-model-name="Spaces" class="sort-link">
                @Html.DisplayNameFor(m => m.SpacesCount)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td></td>
    </tr>
</thead>
