﻿<!DOCTYPE html>
<html>
<head>
    <partial name="_HeadMetaTags" />
    <partial name="_Favicons" />
    <partial name="_StyleSheets/_HeadStyleSheets" />
</head>
<body>
    <partial name="_Navbars/_Top/_Navbar" />
    <div class="container" style="min-height: calc(100vh - 62px)">
        <main role="main" class="pb-4">
            @RenderBody()
        </main>
    </div>
    <partial name="_Footer" />
    <partial name="_Scripts/_FooterScripts" />
    <partial name="_Scripts/_NotificationScripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>
