﻿@model VehicleVM
@{
    ViewBag.Title = Model.LicensePlate;
}

<div class="row">
    <div class="col">
        <h1 class="display-4 text-center break-word">
            <span class="mt-2 d-inline-block license-plate">
                @ViewBag.Title
            </span>
        </h1>
    </div>
</div>

<hr class="margin-y-lg" />

<div class="row margin-bottom-sm">
    <div class="col">
        <a asp-action="@nameof(VehiclesController.Index)" class="btn btn-primary float-left">
            <i class="fas fa-chevron-left padding-right-sm"></i>
            @Localizer.GetString("Back")
        </a>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 justify-content-center">
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.Id):</dt>
            <dd class="col">@Html.DisplayFor(m => m.Id)</dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.LicensePlate):</dt>
            <dd class="col">@Html.DisplayFor(m => m.LicensePlate)</dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.Type):</dt>
            <dd class="col">@Html.DisplayFor(m => m.Type)</dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.Created):</dt>
            <dd class="col">
                <span title="@Html.DisplayTextFor(m => m.Created)">
                    @Html.DisplayFor(m => m.Created)
                </span>
            </dd>
        </dl>
        <dl class="row">
            <dt class="col">@Html.DisplayNameFor(m => m.Updated):</dt>
            <dd class="col">
                <span title="@Html.DisplayTextFor(m => m.Updated)">
                    @Html.DisplayFor(m => m.Updated)
                </span>
            </dd>
        </dl>
        <div class="row">
            <div class="col">
                <hr />

                <div class="pb-2">
                    <h3 class="text-center">
                        @Localizer.GetString("LastVehicleHistoryEntries")
                    </h3>

                    <a class="d-block text-right" href="@(Url.Action(
                        nameof(HistoryController.Vehicles),
                        "History")
                        + "?Filters="
                        + "Vehicle.LicensePlate"
                        + "=="
                        + Model.LicensePlate)">
                        <i class="fas fa-history pr-1"></i>
                        @Localizer.GetString("FullHistory")
                    </a>
                </div>

                <table class="table table-hover vertical-align text-center">
                    <partial name="_VehicleHistory/_TableHead" model="Model.History.FirstOrDefault()" />
                    <tbody>
                        @foreach (var item in Model.History)
                        {
                            <partial name="_VehicleHistory/_TableRow" model="item" />
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
