﻿<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary box-shadow mb-3 padding-none">
        <div class="container">
            <a class="navbar-brand" title="Home page" href="/">
                <span><img src="~/android-chrome-192x192.png" width="30" height="30" class="d-inline-block" alt="Logo" style="margin-top: -7px; margin-right: 0.125em;"></span>
                <span>@Constants.ApplicationName</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Levels" asp-action="@nameof(LevelsController.Index)" asp-add-active-class="true">
                            <i class="fas fa-layer-group padding-right-xs"></i>
                            @Localizer.GetString("Levels")
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Spaces" asp-action="@nameof(SpacesController.Index)" asp-add-active-class="true">
                            <i class="fas fa-th-large padding-right-xs"></i>
                            @Localizer.GetString("Spaces")
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Vehicles" asp-action="@nameof(VehiclesController.Index)" asp-add-active-class="true">
                            <i class="fas fa-car-alt padding-right-xs"></i>
                            @Localizer.GetString("Vehicles")
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="history" aria-expanded="false">
                            <i class="fas fa-history padding-right-xs"></i>
                            @Localizer.GetString("History")
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="history">
                            <a class="dropdown-item" asp-controller="History" asp-action="@nameof(HistoryController.Vehicles)">
                                <i class="fas fa-car-alt padding-right-xs"></i>
                                @Localizer.GetString("Vehicles")
                            </a>
                            <a class="dropdown-item" asp-controller="History" asp-action="@nameof(HistoryController.Spaces)">
                                <i class="fas fa-th-large padding-right-xs"></i>
                                @Localizer.GetString("Spaces")
                            </a>
                            <a class="dropdown-item" asp-controller="History" asp-action="@nameof(HistoryController.Charts)">
                                <i class="fas fa-chart-area padding-right-xs"></i>
                                @Localizer.GetString("Charts")
                            </a>
                            <a class="dropdown-item" asp-controller="History" asp-action="@nameof(HistoryController.MostPopularSpacesChart)">
                                <i class="fas fa-th-large padding-right-xs"></i>
                                @Localizer.GetString("MostPopularSpaces")
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Logging" asp-action="@nameof(LoggingController.Index)" asp-add-active-class="true">
                            <i class="fas fa-database padding-right-xs"></i>
                            @Localizer.GetString("Logging")
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
