﻿@using ParkingLot.Application.Notifications.Storages.Abstractions
@inject INotificationStorage NotificationStorage
@{
    if (!NotificationStorage.HasAnyNotifications())
    {
        return;
    }

    var notification = NotificationStorage.GetNotification();
}

<script>
    $.notify(
    {
        icon: '@notification.Icon',
        title: '<strong>@notification.Title</strong>',
        message: '@notification.Message'
    },
    {
        type: '@notification.Type.ToString().ToLower()'
    });
</script>
