﻿@model VehicleHistoryChartVM
@{
    ViewBag.Title = Localizer.GetString("Title");
}

<div class="text-center">
    <h1 class="display-4 break-word">@Localizer.GetString("Title")</h1>
</div>

<div class="row">
    <div class="col">

        <div class="float-right d-flex justify-content-center align-items-center">
            <span class="mr-2">Range</span>
            <div class="btn-group btn-group-toggle">
                <a asp-controller="History"
                   asp-action="@nameof(HistoryController.Charts)"
                   asp-route-days="1"
                   asp-route-hourStep="@(1 * 24 / 12)"
                   class="btn btn-primary @(Model.TimeSpan.TotalDays == 1 ? "disabled" : null)">
                    24 @Localizer.GetString("HoursAbbreviation")
                </a>
                <a asp-controller="History"
                   asp-action="@nameof(HistoryController.Charts)"
                   asp-route-days="7"
                   asp-route-hourStep="@(7 * 24 / 21)"
                   class="btn btn-primary @(Model.TimeSpan.TotalDays == 7 ? "disabled" : null)">
                    7 @Localizer.GetString("Days")
                </a>
                <a asp-controller="History"
                   asp-action="@nameof(HistoryController.Charts)"
                   asp-route-days="30"
                   asp-route-hourStep="@(30 * 24 / 30)"
                   class="btn btn-primary @(Model.TimeSpan.TotalDays == 30 ? "disabled" : null)">
                    30 @Localizer.GetString("Days")
                </a>
                <a asp-controller="History"
                   asp-action="@nameof(HistoryController.Charts)"
                   asp-route-days="360"
                   asp-route-hourStep="@(360 * 24 / 12)"
                   class="btn btn-primary @(Model.TimeSpan.TotalDays == 360 ? "disabled" : null)">
                    1 @Localizer.GetString("Year")
                </a>
                <a asp-controller="History"
                   asp-action="@nameof(HistoryController.Charts)"
                   asp-route-days="@(360 * 10)"
                   asp-route-hourStep="@(360 * 10 * 24 / 10)"
                   class="btn btn-primary @(Model.TimeSpan.TotalDays == 360 * 10 ? "disabled" : null)">
                    10 @Localizer.GetString("Years")
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row my-4">
    <div class="col">
        <canvas id="spaces-history-chart"
                data-chart-title="@Localizer.GetString("ChartTitle")"
                data-chart-x-labels="@string.Join(";", Model.XAxisLabels)"
                data-chart-background-colors="@string.Join(";", Model.DataSets.Select(ds => ds.BackgroundColor))"
                data-chart-border-colors="@string.Join(";", Model.DataSets.Select(ds => ds.BorderColor))"
                data-chart-datasets="@string.Join(";", Model.DataSets.Select(dataset => string.Join(",", dataset.Data)))"
                data-chart-datasets-labels="@string.Join(";", Model.DataSets.Select(ds => Localizer.GetString(ds.Label.ToPascalCase().Replace(" ", string.Empty))))"></canvas>
    </div>
</div>

@section Scripts {
    <partial name="_Scripts/_ChartJsScripts" />
    <script>
        function getConfig($canvas) {

            let datasets = [];
            const count = $canvas.data('chart-datasets').split(';').length;

            for (let i = 0; i < count; i++) {
                datasets[i] = {
                    backgroundColor: $canvas.data('chart-background-colors').split(';')[i],
                    borderColor: $canvas.data('chart-border-colors').split(';')[i],
                    data: $canvas.data('chart-datasets').split(';')[i].split(','),
                    label: $canvas.data('chart-datasets-labels').split(';')[i],
                };
            }

            return {
                type: 'line',
                data: {
                    datasets: datasets,
                    labels: $canvas.data('chart-x-labels').split(';'),
                },
                options: {
                    scales: {
                        xAxes: [{
                            gridLines: {
                                color: '#444'
                            },
                        }],
                        yAxes: [{
                            stacked: true,
                            gridLines: {
                                color: '#444'
                            },
                        }]
                    },
                    legend: {
                        display: false,
                    },
                    tooltips: {
                        intersect: false,
                        mode: 'nearest'
                    },
                    responsive: true,
                    elements: {
                        line: {
                            tension: 0,
                        },
                    },
                    animation: {
                        animateScale: true,
                        animateRotate: false,
                    }
                }
            }
        };

        $(window).on('load', function () {
            $('#spaces-history-chart').each((i, canvas) => {
                let context = canvas.getContext('2d');
                new Chart(context, getConfig($(canvas)));
            });
        });
    </script>
}
