﻿@model MostPopularSpacesChartVM
@{
    ViewBag.Title = Localizer.GetString("Title", Model.XAxisLabels.Count);
    var spaceLocalizedName = Localizer.GetString("Space");
}

<div class="text-center">
    <h1 class="display-4 break-word">@ViewBag.Title</h1>
</div>

<div class="row my-4">
    <div class="col">
        <canvas id="most-popular-spaces-chart"
                data-chart-x-labels="@(string.Join(';', Model.XAxisLabels.Select(spaceNumber => $"{spaceLocalizedName} {spaceNumber}")))"
                data-chart-background-color="@(string.Join(";", Model.DataSets[0].BackgroundColor))"
                data-chart-border-color="@(string.Join(";", Model.DataSets[0].BorderColor))"
                data-chart-dataset="@(string.Join(';', Model.DataSets[0].Data.Select(v => v.TimesTaken.ToString())))"
                data-chart-datasets-label="@(string.Join(";", Localizer.GetString(Model.DataSets[0].Label)))"></canvas>
    </div>
</div>

@section Scripts {
    <partial name="_Scripts/_ChartJsScripts" />
    <script>
        $(window).on('load', function () {
            $('#most-popular-spaces-chart').each((i, canvas) => {
                let context = canvas.getContext('2d');
                new Chart(context, getConfig($(canvas)));
            });
        });

        function getConfig($canvas) {
            let datasets = [{
                backgroundColor: $canvas.data('chart-background-color'),
                borderColor: $canvas.data('chart-border-color'),
                data: $canvas.data('chart-dataset').split(';'),
                label: $canvas.data('chart-datasets-label'),
            }];

            return {
                type: 'bar',
                data: {
                    datasets: datasets,
                    labels: $canvas.data('chart-x-labels').split(';'),
                },
                options: {
                    scales: {
                        xAxes: [{
                            gridLines: {
                                color: '#444'
                            },
                        }],
                        yAxes: [{
                            stacked: true,
                            gridLines: {
                                color: '#444'
                            },
                        }]
                    },
                    legend: {
                        display: false,
                    },
                    responsive: true,
                    elements: {
                        line: {
                            tension: 0,
                        },
                    },
                    animation: {
                        animateScale: true,
                        animateRotate: false,
                    }
                }
            }
        };
    </script>
}
