﻿@model IPagedResult<SpaceHistoryEntryVM>
@{
    Layout = "_Layouts/_LayoutFluid1400";
    ViewBag.Title = Localizer.GetString("Title");
}

<div class="row">
    <div class="col">
        <h1 class="display-4 text-center break-word">@ViewBag.Title</h1>
    </div>
</div>

<hr class="margin-y-lg" />

<partial name="_ListView/_Head" />

<div class="row">
    <div class="col col-2">
        <partial name="_ListView/_Filtering/_FiltersSelector" />
    </div>
    <div class="col col-10">
        <table class="table table-hover vertical-align text-center">
            <partial name="_Spaces/_TableHead" model="Model.Items.FirstOrDefault()" />
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <partial name="_Spaces/_TableRow" model="item" />
                }
            </tbody>
        </table>
    </div>
</div>

<partial name="_ListView/_Footer" />
