﻿@model SpaceHistoryEntryVM

<tr>
    <td>
        <a class="btn btn-sm btn-primary"
           asp-controller="Spaces"
           asp-action="@nameof(SpacesController.Show)"
           asp-route-id="@Model.SpaceId">
            @Html.DisplayFor(m => m.Space.Number)
        </a>
    </td>
    <td>
        @Html.DisplayFor(m => m.OccupationTime)
    </td>
    <td>
        @Html.DisplayFor(m => m.TakenAt)
    </td>
    <td>
        @Html.DisplayFor(m => m.ReleasedAt.Value)
    </td>
</tr>
