﻿@model SpaceHistoryEntryVM

<thead>
    <tr>
        <td>
            <a asp-order-by="Space" asp-model-name="Space.Number" class="sort-link">
                @Html.DisplayNameFor(m => m.Space)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td>
            <a asp-order-by="TakenAt" asp-model-name="OccupationTime" class="sort-link">
                Occupation time
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td>
            <a asp-order-by="TakenAt" class="sort-link">
                @Html.DisplayNameFor(m => m.TakenAt)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
        <td>
            <a asp-order-by="ReleasedAt" class="sort-link">
                @Html.DisplayNameFor(m => m.ReleasedAt)
                <i class="ascending fas fa-sort-up pl-1"></i>
                <i class="descending fas fa-sort-down"></i>
            </a>
        </td>
    </tr>
</thead>
