﻿@model double

@if (Model >= 60000)
{
    <span title="@Model ms">
        @Math.Ceiling(Model / 60000) min
    </span>
}
else
{
    @if (Model >= 1000)
    {
        <span title="@Model ms">
            @Math.Ceiling(Model / 1000) sec
        </span>
    }
    else
    {
        @if (Model > 1)
        {
            <span title="@Model ms">
                @Math.Ceiling(Model) ms
            </span>
        }
        else
        {
            <span title="@Model ms">
                &lt; 1 ms
            </span>
        }
    }
}
