﻿@model string

@{
    var headers = new Dictionary<string, string>();

    @if (!string.IsNullOrWhiteSpace(Model))
    {
        headers = Model.Split(Environment.NewLine, StringSplitOptions.RemoveEmptyEntries)
            .Select(entry => entry.Split("=", StringSplitOptions.RemoveEmptyEntries))
            .ToDictionary(
                entries => entries.FirstOrDefault(),
                entires => entires.LastOrDefault());
    }
}

<table class="table table-hover">
    <tbody>
        @foreach (var entry in headers)
        {
            <tr>
                <td class="text-right py-1 px-2">
                    <span class="badge badge-dark">
                        @entry.Key
                    </span>
                </td>
                <td class="py-1 px-2" style="word-break: break-all">
                    <code>@entry.Value</code>
                </td>
            </tr>
        }
    </tbody>
</table>
