﻿@model VehicleType

@switch (Model)
{
    case VehicleType.Car:
        <i class="fas fa-car-alt pr-1" title="@Localizer.GetString(Model.ToString())"></i>
        break;
    case VehicleType.Motorcycle:
        <i class="fas fa-motorcycle pr-1" title="@Localizer.GetString(Model.ToString())"></i>
        break;
    default:
        <i class="fas fa-question pr-1" title="@Localizer.GetString(Model.ToString())"></i>
        break;
}

@Localizer.GetString(Model.ToString())
